.todo__container{
    display: flex;
    width: 100vw;
    height:100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.todo__container button{
    margin-left: 10px;
}

.List{
 /* margin-left: 10px; */
}