* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.FormContainer {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
form {
  width: 100%;
   max-width: 600px;
  border: 2px solid lightblue;
  border-radius: 12px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 15px;    
}
label {
  font-weight: 600;
}

input {
  padding: 10px 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 8px;
}

.row{
    display: flex;
    gap:20px;
    align-items: center;
}
.field{
    display: flex;
    flex: 1;
    gap: 10px;
    align-items: center;
}

.EmailField{
    display: flex;
    flex: 1;
    align-items: center;
    gap: 10px;
}

.EmailField input {
  flex: 1;
  height:10px
}
